<template>
    <div>

        <div class="form-group">
            <label class="col-form-label text-md-right">Set At Super Admin</label>
        </div>
        <div class="row">
            <div class="form-group col-md-2">
                <input type="radio" id="yes" v-model="super_admin" value="1" name="super_admin">
                <label class="col-form-label" for="yes">Yes!</label>
            </div>
            <div class="form-group col-md-2">
                <input type="radio" id="no" v-model="super_admin" checked value="0" name="super_admin">
                <label class="col-form-label" for="no">No!</label>
            </div>
        </div>
        <div id="privileges_configuration" class="form-group" v-if="super_admin=='0'">
            <label>Privileges Configuration</label>
            <table class="table table-striped table-hover table-bordered">
                <thead>
                <tr class="active">
                    <th width="3%">No.</th>
                    <th width="60%">Module's Name</th>
                    <th>View</th><th>Create</th><th>Read</th><th>Update</th><th>Delete</th>
                </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>New Ticket</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[new_request][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[new_request][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[new_request][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[new_request][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[new_request][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>All Tickets</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[all_requests][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[all_requests][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[all_requests][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[all_requests][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[all_requests][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td>Selected Tickets</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[selected_request][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[selected_request][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[selected_request][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[selected_request][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[selected_request][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td>Closed Ticket</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[closed_request][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[closed_request][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[closed_request][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[closed_request][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[closed_request][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td>Applicant</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[applicant][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[applicant][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[applicant][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[applicant][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[applicant][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td>Configuration (districts status Categories)</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[settings][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[settings][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[settings][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[settings][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[settings][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td>User settings (user management + profiles)</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[user_management][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[user_management][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[user_management][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[user_management][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[user_management][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td>Privilege Roles</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[roles][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[roles][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[roles][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[roles][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[roles][is_delete]" value="1"></td>
                    </tr>
                    <tr>
                        <td>9</td>
                        <td>Gov request</td>
                        <td class="alert-active" align="center"><input type="checkbox" class="is_visible" name="privileges[gov_request][is_visible]" value="1"></td>
                        <td class="alert-warning" align="center"><input type="checkbox" class="is_create" name="privileges[gov_request][is_create]" value="1"></td>
                        <td class="alert-info" align="center"><input type="checkbox" class="is_read" name="privileges[gov_request][is_read]" value="1"></td>
                        <td class="alert-success" align="center"><input type="checkbox" class="is_edit" name="privileges[gov_request][is_edit]" value="1"></td>
                        <td class="alert-danger" align="center"><input type="checkbox" class="is_delete" name="privileges[gov_request][is_delete]" value="1"></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</template>

<script>
    export default {
        name: 'super_admin',
        data(){
            return{
                super_admin: 0
            }
        },
    };
</script>
